<div id="todo-form" class="row">
    <div class="col-lg-6">
        <form>
            <div class="form-group">
                <label>New item:</label>
                <input type="text" class="form-control input-md" ng-model="formData.text">
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-click="createTodo()">Insert</button>
        </form>
    </div>
    <div class="col-lg-6">
        <form>
            <div class="form-group">
                <label>Edit item:</label>
                <input type="text" class="form-control input-md" ng-model="formData.text">
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-click="updateTodo(formData._id)">Update</button>
        </form>
    </div>
</div>
