<div class="col-lg-10 mx-auto">
    <h1><strong>MEAN Stack Application</strong></h1>
    <h2><strong>MongoDB + Express + Angular + NodeJS</strong></h2>
    <hr>
</div>
<div class="col-lg-8 mx-auto">
    <h2 class="mb-5">Projekt aplikacji bazodanowej opartej na technologii NodeJS oraz Express. Aplikacja używa nierelacyjnej bazy danych MongoDB. Frontend korzysta z frameworka Angular.</h2>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#admin" ng-click="showAdminPanel()">Start</a>
</div>
